@font-face {
    font-family: 'GROBOLD';
    src: url('apps/cdlibrary/src/assets/fonts/grobold/GROBOLD.woff2') format('woff2'),
        url('apps/cdlibrary/src/assets/fonts/grobold/GROBOLD.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vogue';
    src: url('apps/cdlibrary/src/assets/fonts/vogue/Vogue-Regular.woff2') format('woff2'),
        url('apps/cdlibrary/src/assets/fonts/vogue/Vogue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}